<div id="id01"></div>                                                      
                                                                           
<script>                                                                   
var xmlhttp = new XMLHttpRequest();                                        
var url = "http://10.43.119.145";                                               
                                                                           
xmlhttp.onreadystatechange = function() {                                  
    if (this.readyState == 4 && this.status == 200) {                      
        var myArr = JSON.parse(this.responseText);                         
        document.getElementById("id01").innerHTML = "<h2>La hora es: " + resp.time + "</h2>";                                                 
    }                                                                      
};                                                                         
xmlhttp.open("GET", url, true);                                            
xmlhttp.send();                                        
</script>